<nav class="navbar navbar-dark sticky-top" style="background-color: #ff6600;">
  <%= link_to root_path do %>
    <span class="navbar-brand mb-0 h1"><span class="logo">B</span>Bloaty McBloatface</span>
  <% end %>
  <%= link_to "Content by Hacker News", "https://github.com/HackerNews/API", class: "navbar-text" %>
</nav>
