mat-toolbar {
  span {
    cursor: pointer;
  }
}

#users {
  margin: 0 auto;
  max-width: 1024px;

  #main {
    padding: 48px;
  }

  mat-card {
    margin-bottom: 24px;
    word-wrap: break-word;
  }
}
