// These styles are not used anywhere. They're here for bloating purposes.
.a-lt-ie9 .sims-img-overlay {
  background: #000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=5)";
}
.shogun-widget a.a-link-emphasis {
  display: inline-block;
}
.multi-pack .image-section,
.multi-pack .inner-pack,
.shogun-widget .a-box {
  overflow: hidden;
}
div.multi-pack .a-grid-center.a-row > div.a-span6.image-section-holder {
  vertical-align: top;
}
div.multi-pack a.list-link {
  width: 100%;
  display: inline-block;
}
img.shogun-s9-pixel {
  width: 1px;
  height: 1px;
  display: none;
}
iframe.shogun-s9-pixel {
  width: 0;
  height: 0;
  border: 0;
}
.airy-gw-resizeable-inline-video {
  position: relative;
  width: 100%;
  padding-bottom: 34px;
}
.airy-gw-resizeable-inline-video .resizeable-warpper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 34px;
  top: 45px;
}
.airy-gw-resizeable-inline-video .resizeable-warpper .resizeable-warpper-inner {
  position: relative;
  height: 100%;
  width: 100%;
}
.airy-gw-resizeable-inline-video .vertical-warpper {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;
}
.airy-gw-resizeable-inline-video .vertical-warpper:before {
  display: table;
  content: "";
  line-height: 0;
  font-size: 0;
}
.airy-gw-resizeable-inline-video .vertical-warpper-inner {
  height: 100%;
  text-align: center;
  display: inline-block;
}
.airy-gw-resizeable-inline-video .vertical-warpper-inner .right {
  position: absolute;
  right: 0;
  width: 8px;
  top: 0;
  bottom: 0;
  z-index: 2;
  background: #fff;
}
.airy-gw-resizeable-inline-video .vertical-warpper-inner .bottom {
  position: absolute;
  bottom: 0;
  height: 5px;
  left: 0;
  right: 0;
  z-index: 2;
  background: #fff;
}
@media (max-width: 1300px) {
  .airy-gw-resizeable-inline-video .vertical-warpper-inner {
    width: 100%;
  }
  .airy-gw-resizeable-inline-video
    .vertical-warpper-inner
    .airy-video-viewport {
    width: 100%;
    height: 100%;
  }
  .airy-gw-resizeable-inline-video .vertical-warpper-inner .bottom,
  .airy-gw-resizeable-inline-video .vertical-warpper-inner .right {
    visibility: hidden;
  }
  .airy-gw-resizeable-inline-video
    .vertical-warpper-inner
    .cropped-image-map-size {
    height: 100%;
  }
  .airy-gw-resizeable-inline-video
    .vertical-warpper-inner
    .cropped-image-map-size
    a.a-link-normal {
    position: static !important;
  }
  .airy-gw-resizeable-inline-video
    .vertical-warpper-inner
    .image-map-before
    img,
  .airy-gw-resizeable-inline-video .vertical-warpper-inner video {
    position: absolute;
    left: 50% !important;
    top: 50% !important;
    width: 270px !important;
    height: 352px !important;
    margin: -176px 0 0 -135px;
    padding: 12px;
  }
}
.airy-gw-resizeable-inline-video .vertical-warpper-inner:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  min-height: inherit;
}
.airy-gw-resizeable-inline-video .bottom-section {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.airy-gw-resizeable-inline-video .seemore,
.airy-gw-resizeable-inline-video h3 {
  text-align: left !important;
}
.airy-gw-resizeable-inline-video .seemore {
  overflow: hidden;
  white-space: nowrap;
}
.airy-gw-resizeable-inline-video .image-map-hidden {
  visibility: hidden;
}
.airy-gw-resizeable-inline-video h3 {
  width: calc(100% + 10px);
  padding-bottom: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.airy-gw-resizeable-inline-video .airy-video-viewport {
  max-width: 96%;
  position: relative;
  margin: auto;
  max-height: 100%;
  vertical-align: middle;
  display: inline-block;
}
.airy-gw-resizeable-inline-video .airy-video-viewport-in {
  width: 100%;
  height: 100%;
}
.airy-gw-resizeable-inline-video .image-map-after {
  display: none;
}
.airy-gw-resizeable-inline-video img {
  height: auto;
  width: 100%;
  max-width: 324px !important;
}
.airy-gw-resizeable-inline-video .airy-video-container,
.airy-gw-resizeable-inline-video .airy-video-container-in {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
@media (max-width: 1300px) {
  .airy-gw-resizeable-inline-video .airy-video-container,
  .airy-gw-resizeable-inline-video .airy-video-container-in {
    padding: 12px;
  }
}
.airy-gw-resizeable-inline-video .airy-video-container {
  opacity: 0;
  z-index: -1;
}
.airy-gw-resizeable-inline-video .airy-video-container-in {
  cursor: pointer;
  z-index: 100;
}
.airy-gw-resizeable-inline-video .airy-renderer-container video {
  height: auto !important;
}
