.imageGridRowWrapper {
  position: absolute;
  top: 44px;
  bottom: 34px;
  left: 0;
  right: 0;
  padding-left: 2.5%;
  padding-right: 2.5%;
}
.popular-departments .imageGridRowWrapper .imageGridRowWrapper-inner {
  position: relative;
  height: 100%;
}
.popular-departments
  .imageGridRowWrapper
  .imageGridRowWrapper-inner
  .vertical-warpper {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;
}
.popular-departments
  .imageGridRowWrapper
  .imageGridRowWrapper-inner
  .vertical-warpper:before {
  display: table;
  content: "";
  line-height: 0;
  font-size: 0;
}
.popular-departments
  .imageGridRowWrapper
  .imageGridRowWrapper-inner
  .vertical-warpper-inner {
  height: 100%;
  width: 100%;
  text-align: center;
  display: inline-block;
}
.popular-departments
  .imageGridRowWrapper
  .imageGridRowWrapper-inner
  .vertical-warpper-inner:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  min-height: inherit;
}
.popular-departments
  .imageGridRowWrapper
  .imageGridRowWrapper-inner
  .quad-packs {
  max-width: 95%;
  position: relative;
  margin: auto;
  max-height: 100%;
  vertical-align: middle;
  display: inline-block;
}
.popular-departments
  .imageGridRowWrapper
  .imageGridRowWrapper-inner
  .quad-packs
  .leftCol {
  padding-right: 8px;
}
.popular-departments
  .imageGridRowWrapper
  .imageGridRowWrapper-inner
  .quad-packs
  .rightCol {
  padding-left: 8px;
}
.popular-departments .imageGridRowWrapper #col-left .image-col {
  padding-right: 7%;
}
.popular-departments .imageGridRowWrapper #col-right .image-col {
  padding-left: 7%;
}
.popular-departments .imageGridRowWrapper a.a-link-normal {
  z-index: 10;
}
.a-tablet .scalable-image-map img {
  height: auto;
}
.scalable-image-map a.a-link-normal {
  display: inline-block;
}
.a-lt-ie9 .scalable-image-map img {
  width: 100%;
}
.a-popover-trigger.a-declarative i {
  margin-left: 0 !important;
}
.billboardRow {
  margin-bottom: 15px;
}
#pageContent .billboardrow-hr {
  margin-bottom: 20px;
}
#slideout-hover .hoverDetailsContent .details .title {
  max-height: 4.5em;
}
.red-sticker {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 32px;
  height: 32px;
  padding-top: 5px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  float: left;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background-color: #a50200;
}
.a-popover-trigger.a-declarative i {
  margin-left: 0 !important;
}
.billboardRow {
  margin-bottom: 15px;
}
#pageContent .billboardrow-hr {
  margin-bottom: 20px;
}
#slideout-hover .hoverDetailsContent .details .title {
  max-height: 4.5em;
}
.red-sticker {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 32px;
  height: 32px;
  padding-top: 5px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  float: left;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background-color: #a50200;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#cb0400),
    to(#a50200)
  );
  background-image: -webkit-linear-gradient(to bottom, #cb0400, #a50200);
  background-image: -moz-linear-gradient(to bottom, #cb0400, #a50200);
  background-image: -ms-linear-gradient(to bottom, #cb0400, #a50200);
  background-image: -o-linear-gradient(to bottom, #cb0400, #a50200);
  background-image: linear-gradient(to bottom, #cb0400, #a50200);
}
.red-sticker:hover {
  color: #fff;
}
.deals-shoveler.fresh-shoveler {
  background: #fff;
}
.deals-shoveler.fresh-shoveler .feed-carousel .feed-carousel-card::before {
  vertical-align: top;
}
.deals-shoveler .feed-carousel-card {
  min-height: 275px;
  min-width: 165px;
}
.deals-shoveler .deals-shoveler-card {
  height: 200px;
}
.deals-shoveler .deals-shoveler-card::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  min-height: inherit;
}
.deals-shoveler .deals-shoveler-card-image {
  display: inline-block;
}
.deals-shoveler .dealPrice {
  font-weight: 400;
  color: #000;
}
.deals-shoveler .dealPrice .dealPPU {
  color: #000;
  margin-left: 5px;
}
.deals-shoveler .dealPrice.soldOutPrice {
  color: #000;
}
.deals-shoveler .dealListPrice {
  font-weight: lighter;
  color: #879596;
}
.deals-shoveler .dealTitle,
.deals-shoveler .gw-clock {
  font-size: 13px;
  color: #879596;
  font-weight: 400;
}
.deals-shoveler .deals-shoveler-card-bottom {
  text-align: left;
  position: absolute;
  top: 210px;
  left: 0;
  right: 0;
}
.deals-shoveler .feed-carousel .feed-carousel-shelf {
  margin: 0 0 24px;
}
.deals-shoveler #gw-quick-look-btn.active {
  display: none;
}
#gw-asin-popover .imgblock {
  background: #fff;
  display: block;
  margin-right: 3%;
  width: 60%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  float: left;
  position: relative;
  z-index: 3;
}
#gw-asin-popover .imgblock:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#gw-asin-popover img.product-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  vertical-align: middle;
  color: transparent;
}
#gw-asin-popover .title {
  display: block;
  color: #111;
  font-size: 24px;
  line-height: 1.33;
  margin-bottom: 12px;
  overflow: hidden;
  max-height: 4em;
}
#gw-asin-popover .byline {
  font-size: 18px;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#gw-asin-popover .pricing {
  font-size: 22px;
  margin-bottom: 28px;
}
#gw-asin-popover .pricing .ppu,
#gw-asin-popover .pricing .ppu .a-color-price {
  color: #999 !important;
  font-size: 12px !important;
}
#gw-asin-popover .reviews {
  display: block;
  font-size: 16px;
  vertical-align: middle;
  margin-bottom: 36px;
  min-height: 1.2em;
}
#gw-asin-popover .reviews .a-icon-star-medium {
  vertical-align: middle;
}
#gw-asin-popover .pricing .price,
#gw-asin-popover .pricing .price .a-color-price {
  color: #111 !important;
}
#gw-asin-popover .pricing .price .price-block {
  display: block;
  padding-bottom: 5px;
}
#gw-asin-popover .pricing .price .a-size-base .currencyINR,
#gw-asin-popover .pricing .price .a-size-base .gwCurrencyINR {
  background-size: 8px;
}
#gw-asin-popover .pricing .currencyINR,
#gw-asin-popover .pricing .gwCurrencyINR {
  padding-left: 15px;
  padding-top: 1px;
}
#gw-asin-popover .pricing .prime {
  vertical-align: center;
}
#gw-asin-popover .a-button {
  width: 100%;
  max-width: 210px;
}
#gw-asin-popover .two-buttons .a-button {
  margin-bottom: 10px;
}
#gw-asin-popover .loading {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -50px;
  text-align: center;
  display: none;
}
#gw-asin-popover .close-icon {
  height: 36px;
  width: 36px;
  background-position: -96px -46px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  opacity: 0.5;
  z-index: 4;
}
#gw-asin-popover .pricing .ppu .currencyINR,
#gw-asin-popover .pricing .ppu .gwCurrencyINR {
  background-size: auto 65%;
  padding-left: 9px;
}
.a-modal-scroller {
  -webkit-transform: translateZ(0);
}
#gw-quick-look-btn {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 7px;
  margin: auto;
  width: 95%;
  max-width: 180px;
}
#gw-quick-look-btn.active {
  display: inline-block;
}
.feed-carousel .feed-carousel-card .a-list-item {
  text-align: center;
  position: relative;
  display: inline-block;
  min-width: 145px;
}
.gwAivWith {
  font-size: 16px;
}
.gwPrimeMusicBoldText,
.gwPrimeMusicText {
  font-size: 17px;
}
.gwPrimeMusicBoldText {
  font-weight: 600;
}
.gwLineBreak:after {
  content: "\a";
  white-space: pre-line;
}
.a-popover-modal-fixed-height .a-popover-wrapper {
  background: 0 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
#gw-asin-popover {
  height: 70%;
}
#sims-section {
  height: 30%;
}
.sims-img {
  max-height: 100px;
  max-width: 130px;
  vertical-align: middle;
}
.sims-container {
  height: 141px;
  width: 100%;
}
.sims-wrapper {
  background: #f2f2f2;
  height: 2px;
  overflow: hidden;
  position: relative;
}
.sims-wrapper.hidden {
  background: #fff;
}
.sims-header {
  padding-top: 15px;
  position: relative;
  z-index: 2;
}
.sims-header-text {
  margin: 0 auto;
  display: block;
  text-align: center;
  white-space: nowrap;
}
.sims-img-link {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.sims-img-link.selected .sims-img-border,
.sims-img-link.selected:hover .sims-img-border {
  background: #c45500;
}
.sims-img-link:hover .sims-img-border {
  background: #bbb;
}
.sims-img-container {
  height: 100%;
  display: inline-block;
  position: relative;
  background: #fff;
}
.sims-img-border {
  bottom: 0;
  left: 8%;
  position: absolute;
  height: 4px;
  width: 84%;
  z-index: 2;
}
.sims-img-container:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.sims-loading {
  height: 2px;
}
.sims-loading img {
  height: 100%;
  width: 100%;
}
.sims-details {
  overflow: hidden;
  height: 100%;
  margin-left: 10px;
}
.sims-img-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}
.sims-img-overlay {
  background: rgba(0, 0, 0, 0.05);
}
