// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.story__title {
  font-size: 1.1rem;
}
.story__url {
  font-size: 0.8rem;
}
.story__date,
.story__by {
  display: block;
  font-size: 0.8rem;
}
.comment .small {
  margin-bottom: 0.5rem;
}
@media (min-width: 1200px) {
  .image-container {
    min-height: 600px;
  }
}
