// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-todo {
  font-size: 1.5rem;
}

.add-button {
  border-radius: 50%;
  bottom: 1.5rem;
  font-size: 2rem;
  height: 48px;
  padding: 0;
  position: absolute;
  right: 1.5rem;
  width: 48px;
}
.footer {
  justify-content: flex-end;
  padding: 0.75rem;
}
